.reviews {
    max-width: 1440px;
    padding: 0 80px 100px 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 50px;
}
.heading {
    text-align: center;
    width: 100%;
    grid-column: -1/1;
}

@media screen and (max-width: 860px) {
    .reviews {
        padding: 0px 20px 40px;
        grid-template-columns: 250px;
    }
}
