.number {
    width: 100%;
    background: rgba(25, 124, 255, 0, 1);
    padding: 45px 80px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.content {
    max-width: 720px;
}

.counter {
    padding-top: 50px;
    box-sizing: border-box;
}

.counterItem {
    padding: 15px;
    background: #efa30e;
    border-radius: 15px;
    color: white;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    margin-right: 5px;
}

.counterItem:nth-child(3n) {
    margin-right: 15px;
}

.counterSybmol {
    color: white;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}

.caption {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    color: black;
}

.captionHeading {
    max-width: 250px;
    color: black;
    margin: 0;
}

.captionDate {
    max-width: 250px;
    color: black;
    text-align: right;
}

@media screen and (max-width: 1440px) {
    .number {
        /* margin: 0 80px; */
    }
}

@media screen and (max-width: 1070px) {
    .number {
        flex-direction: column-reverse;
    }
    .heading {
        text-align: center;
    }
    .counterItem {
        font-size: 30px;
    }
    .counter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .counterSybmol {
        font-size: 30px;
    }
}

@media screen and (max-width: 760px) {
    .counterItem {
        font-size: 40px;
        background: transparent;
        padding: 5px;
    }

    .counter {
        position: relative;
        width: 100%;
        padding: 15px 15px 15px;
        margin-top: 30px;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .counterSybmol {
        font-size: 40px;
    }
    .counterItem:nth-child(3n) {
        margin-right: 5px;
    }
}

@media screen and (max-width: 690px) {
    .counterItem {
    }
    .counterSybmol {
        font-size: 42px;
    }
    .number {
        padding: 45px 20px;
    }
}

@media screen and (max-width: 520px) {
    .counterItem {
    }
    .counterSybmol {
        font-size: 38px;
    }
}

@media screen and (max-width: 470px) {
    .counterItem {
        padding: 0;
    }
    .counterSybmol {
        font-size: 24px;
    }
    .counterItem:nth-child(3n) {
        margin-right: 10px;
    }
}

@media screen and (max-width: 390px) {
    .number {
        /* margin-left: 20px;
        margin-right: 20px; */
    }
}
