.footer {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.text {
    max-width: 340px;
}

@media screen and (max-width: 1400px) {
    .footer {
        padding: 70px 80px;
    }
}

@media screen and (max-width: 890px) {
    .footer {
        padding: 70px 40px;
    }
}

@media screen and (max-width: 710px) {
    .footer {
        flex-direction: column;
        padding: 40px;
    }
}

@media screen and (max-width: 390px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
